# Name of the S3 Bucket for your APK Repository
S3_BUCKET_NAME_REPO=

# Name of the S3 Bucket for build artifacts
S3_BUCKET_NAME_SAM=

# Name of the CloudFormation Stack
CF_STACK_NAME=alpinist-apk-repo

